*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/Key
/build
/Extras
/EncryptedKeys
/ScreenShots
/gradle
/openCVLibrary347
/EncryptedKeys
/gradle
/app6-proguard
/app/build
/app/debug
/app/release